<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woorido.common.mapper.MeetingVoteRecordMapper">

    <!-- 사용자가 참석한 총 모임 수 조회 -->
    <select id="countAttendedMeetingsByUserId" resultType="int">
        SELECT COUNT(*)
        FROM woorido.meeting_vote_records
        WHERE user_id = #{userId}
        AND actual_attendance = 'ATTENDED'
    </select>

</mapper>
