name: Close Jira Issue on PR Merge
on:
  pull_request:
    types:
      - closed

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Login to Jira
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}

      - name: Extract Info (Jira Key & GH Issue Number)
        id: info
        run: |
          # 1. Jira 키 추출 (브랜치명에서)
          BRANCH_NAME="${{ github.event.pull_request.head.ref }}"
          JIRA_KEY=$(echo "$BRANCH_NAME" | grep -oE '[A-Z]+-[0-9]+' | head -n 1)
          echo "JIRA_KEY=$JIRA_KEY" >> $GITHUB_ENV
          
          # 2. GitHub 이슈 번호 추출 (PR 본문에서)
          # 'GH_ISSUE_NUM'이라는 글자 뒤의 숫자만 가져오거나, # 뒤의 숫자를 가져옴
          PR_BODY="${{ github.event.pull_request.body }}"
          # 정규식: # 뒤에 오는 연속된 숫자를 찾음
          ISSUE_NUM=$(echo "$PR_BODY" | grep -oE '#[0-9]+' | head -n 1 | sed 's/#//')
          
          echo "GH_ISSUE_NUM=$ISSUE_NUM" >> $GITHUB_ENV
          echo "Debug: Extracted Issue Number is [$ISSUE_NUM]"

      - name: Close Jira issue
        if: env.JIRA_KEY != ''
        uses: atlassian/gajira-transition@v3
        with:
          issue: ${{ env.JIRA_KEY }}
          transition: DONE

      - name: Debug Environment Variable
        run: echo "The issue number is ${{ env.GH_ISSUE_NUM }}"
  
      - name: Close GitHub Issue
        if: env.GH_ISSUE_NUM != ''
        uses: actions-cool/issues-helper@v3
        with:
          actions: 'update-issue'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ env.GH_ISSUE_NUM }}
          state: 'closed'
